# The domain of the forwarding URL of your ngrok tunnel
DOMAIN=your-ngrok-subdomain.ngrok-free.app

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token

TWILIO_PHONE_NUMBER=+1xxxxxxxxxx # to receive confirmation SMS messages
TWILIO_FLEX_WORKFLOW_SID=WWxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # needed if transferring to Twilio Flex for human agents

OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o

# Optional. The voice and language chosen for the agent
# Check docs for available options
TTS_VOICE=en-US-Chirp3-HD-Aoede
TTS_LANGUAGE=en-US
TRANSCRIPTION_LANGUAGE=en-US

db=scheduling
